Importing packages with customary aliases:

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
## magic command so that your plots show in the notebook without having to call plt.show() every time

Read in the first file and check that it imported correctly:

In [12]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv")
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

Read in the second file and check that it imported correctly:

In [29]:
internet_df = pd.read_csv("../data/internet_use.csv")
internet_df.head(6)

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN